@import './utils/reset';
@import './utils/variable';

body { 
    background-color: rgb(255, 228, 196); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
} 

#game { 
    background-color: gray; 
    display: grid; 
    grid-template-columns: repeat(3, 160px); 
    gap: 10px; 
    border: 2px solid rgb(216, 216, 216); 
    padding: 20px; 
    border-radius: 10px;   
}

.hole { 
    position: relative;
    width: 160px;
    height: 160px; 
    background: {
        image: url('../img/hole.png');
        size: 170px;
        repeat: no-repeat;
        position: center;
    }
} 

.mole {
    width: 80px;
    position: absolute;
    right: 25%;
}
