@import './utils/reset';
@import './utils/variable';

body { 
    background-color: rgb(255, 228, 196); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
} 

#game { 
    background-color: rgb(1, 254, 64); 
    display: grid; 
    grid-template-columns: repeat(3, 160px); 
    gap: 10px; 
    border: 2px solid rgb(216, 216, 216); 
    padding: 20px; 
    border-radius: 10px;   
}

.hole { 
    width: 150px;
    height: 150px; 
    background: {
        image: url('../img/hole.png');
        size: 150px;
        repeat: no-repeat;
        position: center;
    }
} 
